.numero1{
  border: 2px solid black;
  border-radius: 10px;
}
.numero2{
    border: 2px solid black;
     border-radius: 10px;
}
.textu{
    border: 2px solid black;
     border-radius: 10px;
}
    

